body {
    background-color: #e3e3e3;
    font-family: sans-serif;
}
.wrap {
    margin: auto;
    width: 600px;
}
blockquote {
    border: 1px solid white;
    text-align: center;
    margin-left: 0%;
}

.navbar li {
    display: inline;
    padding-right: 10px;
    margin: auto;
    width: 600px;
}
ul a {
    text-decoration: none;
    color: black;

}
ul a :hover {
    text-decoration: underline;
    color: black;

}